<div class="container">	
    <div *ngIf="selectedLang4" class="selectedLang4">
       <div class="row">
        <div class="card text-xs-center">
             <div class="card-block">
                <div class="card-header">
                <fieldset class="form-group  col-md-12">
                  {{selectedLang4.Lang}}
                    </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedLang4.Id}} 
                </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedLang4.DFC | date}} 
                </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedLang4.DLC | date}} 
                </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedLang4.User}}
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>Lang: </label>
                      <input [(ngModel)]="selectedLang4.Lang" placeholder="Lang"/>
                </fieldset>
					   <fieldset class="form-group  col-md-12">
                      <label>StageHead: </label>
                      <input [(ngModel)]="selectedLang4.StageHead" placeholder="StageHead"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>SignUpNow: </label>
                      <input [(ngModel)]="selectedLang4.SignUpNow" placeholder="SignUpNow"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>WatchVersion: </label>
                      <input [(ngModel)]="selectedLang4.WatchVersion" placeholder="WatchVersion"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>StopSearching: </label>
                      <input [(ngModel)]="selectedLang4.StopSearching" placeholder="StopSearching"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>RequestinFive: </label>
                      <input [(ngModel)]="selectedLang4.RequestinFive" placeholder="RequestinFive"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>CompanyCommuting: </label>
                      <input [(ngModel)]="selectedLang4.CompanyCommuting" placeholder="CompanyCommuting"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>PrivateOrPublic: </label>
                      <input [(ngModel)]="selectedLang4.PrivateOrPublic" placeholder="PrivateOrPublic"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>PrivateOrganize: </label>
                      <input [(ngModel)]="selectedLang4.PrivateOrganize" placeholder="PrivateOrganize"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>TellMeMore: </label>
                      <input [(ngModel)]="selectedLang4.TellMeMore" placeholder="TellMeMore"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>WowFactor: </label>
                      <input [(ngModel)]="selectedLang4.WowFactor" placeholder="WowFactor"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>ItsAlive: </label>
                      <input [(ngModel)]="selectedLang4.ItsAlive" placeholder="ItsAlive"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>NetworkNotifies: </label>
                      <input [(ngModel)]="selectedLang4.NetworkNotifies" placeholder="NetworkNotifies"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>PrefsControl: </label>
                      <input [(ngModel)]="selectedLang4.PrefsControl" placeholder="PrefsControl"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>DriverRates: </label>
                      <input [(ngModel)]="selectedLang4.DriverRates" placeholder="DriverRates"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>DriverSets: </label>
                      <input [(ngModel)]="selectedLang4.DriverSets" placeholder="DriverSets"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>EveryDriver: </label>
                      <input [(ngModel)]="selectedLang4.EveryDriver" placeholder="EveryDriver"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>PoweredGoogle: </label>
                      <input [(ngModel)]="selectedLang4.PoweredGoogle" placeholder="PoweredGoogle"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>TrueWorldWide: </label>
                      <input [(ngModel)]="selectedLang4.TrueWorldWide" placeholder="TrueWorldWide"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>UnlimitedVolume: </label>
                      <input [(ngModel)]="selectedLang4.UnlimitedVolume" placeholder="UnlimitedVolume"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>Goal: </label>
                      <input [(ngModel)]="selectedLang4.Goal" placeholder="Goal"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>FillEmpty: </label>
                      <input [(ngModel)]="selectedLang4.FillEmpty" placeholder="FillEmpty"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>UseWallet: </label>
                      <input [(ngModel)]="selectedLang4.UseWallet" placeholder="UseWallet"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>ReduceCongestion: </label>
                      <input [(ngModel)]="selectedLang4.ReduceCongestion" placeholder="ReduceCongestion"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>UseFast: </label>
                      <input [(ngModel)]="selectedLang4.UseFast" placeholder="UseFast"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>ProvideCoordination: </label>
                      <input [(ngModel)]="selectedLang4.ProvideCoordination" placeholder="ProvideCoordination"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>AllInOne: </label>
                      <input [(ngModel)]="selectedLang4.AllInOne" placeholder="AllInOne"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>RunsAnything: </label>
                      <input [(ngModel)]="selectedLang4.RunsAnything" placeholder="RunsAnything"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>RunsWorld: </label>
                      <input [(ngModel)]="selectedLang4.RunsWorld" placeholder="RunsWorld"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>SmallDevice: </label>
                      <input [(ngModel)]="selectedLang4.SmallDevice" placeholder="SmallDevice"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>NoMoneyBack: </label>
                      <input [(ngModel)]="selectedLang4.NoMoneyBack" placeholder="NoMoneyBack"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>DoNotTry: </label>
                      <input [(ngModel)]="selectedLang4.DoNotTry" placeholder="DoNotTry"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>WideUsage: </label>
                      <input [(ngModel)]="selectedLang4.WideUsage" placeholder="WideUsage"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>JoinWithFace: </label>
                      <input [(ngModel)]="selectedLang4.JoinWithFace" placeholder="JoinWithFace"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>DataFeeds: </label>
                      <input [(ngModel)]="selectedLang4.DataFeeds" placeholder="DataFeeds"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>ImportantSites: </label>
                      <input [(ngModel)]="selectedLang4.ImportantSites" placeholder="ImportantSites"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>Commutes: </label>
                      <input [(ngModel)]="selectedLang4.Commutes" placeholder="Commutes"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>RunsFast: </label>
                      <input [(ngModel)]="selectedLang4.RunsFast" placeholder="RunsFast"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>AboutBox: </label>
                      <input [(ngModel)]="selectedLang4.AboutBox" placeholder="AboutBox"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>About1: </label>
                      <input [(ngModel)]="selectedLang4.About1" placeholder="About1"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>About2: </label>
                      <input [(ngModel)]="selectedLang4.About2" placeholder="About2"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>About3: </label>
                      <input [(ngModel)]="selectedLang4.About3" placeholder="About3"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>ExampleMessage: </label>
                      <input [(ngModel)]="selectedLang4.ExampleMessage" placeholder="ExampleMessage"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>RideFound: </label>
                      <input [(ngModel)]="selectedLang4.RideFound" placeholder="RideFound"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>RiderFound: </label>
                      <input [(ngModel)]="selectedLang4.RiderFound" placeholder="RiderFound"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>Support: </label>
                      <input [(ngModel)]="selectedLang4.Support" placeholder="Support"/>
                </fieldset>
				   
		      <button class="btn btn-warning" (click)="onDeSelect()">Back</button>
          <button class="btn btn-success" (click)="onDeSelect()">Save</button>
</div></div></div></div></div>

<div *ngIf!="selectedLang4">
  <div class="row">
    <div class="card text-xs-center">
          <div class="card-block">
              <label>Search Events by Id or Lang:</label> <input #lang4Search (input)="term$.next($event.target.value)" placeholder="Enter Id or Text" />
              <button class="btn btn-danger" (click)="add(lang4Search.value)"> Add </button>
          </div>
          <div class="table-responsive">
                <table class="table">
                    <tbody>
  <tr *ngFor="let lang4 of langs4" (click)="onSelect(lang4)"
      [class.selected]="lang4 === selectedLang4">
<div *ngIf!="appservice.admin">
          <td class="DFC"><b>{{lang4.Id}}</b></td> 
          <td class="DFC">{{lang4.DFC}}</td>  
          <td class="DFC">{{lang4.DLC}}</td> 
          <td class="DFC">{{lang4.User}}</td> 
          <td class="DFC">{{lang4.Lang}}</td>  
          <td class="DFC">{{lang4.StageHead}}</td>  
          <td class="DFC">{{lang4.SignUpNow}}</td> 
	</div><div *ngIf="appservice.admin">
          <td class="DFC"><b>{{lang4.Id}}</b></td> 
          <td class="DFC">{{lang4.DFC}}</td>  
          <td class="DFC">{{lang4.DLC}}</td> 
          <td class="DFC">{{lang4.User}}</td> 
          <td class="DFC">{{lang4.Lang}}</td>  
          <td class="DFC">{{lang4.StageHead}}</td>  
          <td class="DFC">{{lang4.SignUpNow}}</td>  
          <td class="DFC">{{lang4.WatchVersion}}</td>
          <td class="DFC">{{lang4.StopSearching}}</td>  
          <td class="DFC">{{lang4.RequestinFive}}</td>  
          <td class="DFC">{{lang4.CompanyCommuting}}</td>  
          <td class="DFC">{{lang4.PrivateOrPublic}}</td>  
          <td class="DFC">{{lang4.PrivateOrganize}}</td>  
          <td class="DFC">{{lang4.TellMeMore}}</td>  
          <td class="DFC">{{lang4.WowFactor}}</td>  
          <td class="DFC">{{lang4.ItsAlive}}</td>  
          <td class="DFC">{{lang4.NetworkNotifies}}</td>  
          <td class="DFC">{{lang4.PrefsControl}}</td>  
          <td class="DFC">{{lang4.DriverRates}}</td>  
          <td class="DFC">{{lang4.DriverSets}}</td>  
          <td class="DFC">{{lang4.EveryDriver}}</td>  
          <td class="DFC">{{lang4.PoweredGoogle}}</td>  
          <td class="DFC">{{lang4.TrueWorldWide}}</td>  
          <td class="DFC">{{lang4.UnlimitedVolume}}</td>  
          <td class="DFC">{{lang4.Goal}}</td>  
          <td class="DFC">{{lang4.FillEmpty}}</td>  
          <td class="DFC">{{lang4.UseWallet}}</td>  
          <td class="DFC">{{lang4.ReduceCongestion}}</td>  
          <td class="DFC">{{lang4.UseFast}}</td>  
          <td class="DFC">{{lang4.ProvideCoordination}}</td>  
          <td class="DFC">{{lang4.AllInOne}}</td>  
          <td class="DFC">{{lang4.RunsAnything}}</td>  
          <td class="DFC">{{lang4.RunsWorld}}</td>  
          <td class="DFC">{{lang4.SmallDevice}}</td>  
          <td class="DFC">{{lang4.NoMoneyBack}}</td>  
          <td class="DFC">{{lang4.DoNotTry}}</td>  
          <td class="DFC">{{lang4.WideUsage}}</td>  
          <td class="DFC">{{lang4.JoinWithFace}}</td>  
          <td class="DFC">{{lang4.DataFeeds}}</td>  
          <td class="DFC">{{lang4.ImportantSites}}</td>  
          <td class="DFC">{{lang4.Commutes}}</td>  
          <td class="DFC">{{lang4.RunsFast}}</td> 
          <td class="DFC">{{lang4.AboutBox}}</td> 
          <td class="DFC">{{lang4.About1}}</td> 
          <td class="DFC">{{lang4.About2}}</td> 
          <td class="DFC">{{lang4.About3}}</td> 
          <td class="DFC">{{lang4.ExampleMessage}}</td> 
          <td class="DFC">{{lang4.RideFound}}</td> 
          <td class="DFC">{{lang4.RiderFound}}</td> 
          <td class="DFC">{{lang4.Support}}</td>  
	 </div>
	<td><button class="btn-xs btn-danger" (click)="delete(event); $event.stopPropagation()">x</button></td>
</tr></tbody></table>
</div>
</div></div></div></div>