    .Id{width: 50px;}
    .DFC{width: 150px;}
    .DLC{width: 90px;}
    .User{width: 50px;}
    .Lang{width: 50px;}
	.Acct{width: 100px;}
	.Country{width: 150px;}
	.Did{width: 50px;}
	.Admin{width: 50px;}
	.LangEd{width: 30px;}
	.Sales{width: 150px;}
	.UserName{width: 80px;}
	.Pass{width: 80px;}
	.Email{width: 50px;}
	.EmailConfirm{width: 100px;}
	.Agent{width: 100px;}
	.Source{width: 50px;}
	.IP{width: 50px;}
	.Followups{width: 50px;}
	.DriveMax{width: 50px;}
	.DriveMin{width: 50px;}
	.DriveRate{width: 50px;}
	.DriveFee{width: 50px;}
	.MapPrefs{width: 150px;}
	.MailPrefs{width: 150px;}
	.MatchPrefs{width: 150px;}
	.LangBar{width: 150px;}