<div class="container">	
    <div *ngIf="selectedLang2" class="selectedLang2">
       <div class="row">
        <div class="card text-xs-center">
             <div class="card-block">
                <div class="card-header">
                <fieldset class="form-group  col-md-12">
                  {{selectedLang2.Lang}}
                    </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedLang2.Id}} 
                </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedLang2.DFC | date}} 
                </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedLang2.DLC | date}} 
                </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedLang2.User}}
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>Lang: </label>
                      <input [(ngModel)]="selectedLang2.Lang" placeholder="Lang"/>
                </fieldset>
					   <fieldset class="form-group  col-md-12">
                      <label>ALetterToConfirmReg: </label>
                      <input [(ngModel)]="selectedLang2.ALetterToConfirmReg" placeholder="ALetterToConfirmReg"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>AutoFooter: </label>
                      <input [(ngModel)]="selectedLang2.AutoFooter" placeholder="AutoFooter"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>AutoHeader: </label>
                      <input [(ngModel)]="selectedLang2.AutoHeader" placeholder="AutoHeader"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>BillingsButte: </label>
                      <input [(ngModel)]="selectedLang2.BillingsButte" placeholder="BillingsButte"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>BookmarkThisPage: </label>
                      <input [(ngModel)]="selectedLang2.BookmarkThisPage" placeholder="BookmarkThisPage"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>CellValidation: </label>
                      <input [(ngModel)]="selectedLang2.CellValidation" placeholder="CellValidation"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>EmailTabReturn: </label>
                      <input [(ngModel)]="selectedLang2.EmailTabReturn" placeholder="EmailTabReturn"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>EnterCommaDelimited: </label>
                      <input [(ngModel)]="selectedLang2.EnterCommaDelimited" placeholder="EnterCommaDelimited"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>EnterEmailBasics: </label>
                      <input [(ngModel)]="selectedLang2.EnterEmailBasics" placeholder="EnterEmailBasics"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>EnterTestEmail: </label>
                      <input [(ngModel)]="selectedLang2.EnterTestEmail" placeholder="EnterTestEmail"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>EnterUserPass: </label>
                      <input [(ngModel)]="selectedLang2.EnterUserPass" placeholder="EnterUserPass"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>EnterWhereYouAre: </label>
                      <input [(ngModel)]="selectedLang2.EnterWhereYouAre" placeholder="EnterWhereYouAre"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>FullInvitations: </label>
                      <input [(ngModel)]="selectedLang2.FullInvitations" placeholder="FullInvitations"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>GPSLocationServices: </label>
                      <input [(ngModel)]="selectedLang2.GPSLocationServices" placeholder="GPSLocationServices"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>HasBeenAddedAsHome: </label>
                      <input [(ngModel)]="selectedLang2.HasBeenAddedAsHome" placeholder="HasBeenAddedAsHome"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>HasBeenConfirmed: </label>
                      <input [(ngModel)]="selectedLang2.HasBeenConfirmed" placeholder="HasBeenConfirmed"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>ImageFooter: </label>
                      <input [(ngModel)]="selectedLang2.ImageFooter" placeholder="ImageFooter"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>Invitation: </label>
                      <input [(ngModel)]="selectedLang2.Invitation" placeholder="Invitation"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>Radius: </label>
                      <input [(ngModel)]="selectedLang2.Radius" placeholder="Radius"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>RideOrDrive: </label>
                      <input [(ngModel)]="selectedLang2.RideOrDrive" placeholder="RideOrDrive"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>SocialHeader: </label>
                      <input [(ngModel)]="selectedLang2.SocialHeader" placeholder="SocialHeader"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>WelcomeExample: </label>
                      <input [(ngModel)]="selectedLang2.WelcomeExample" placeholder="WelcomeExample"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>WhereHome: </label>
                      <input [(ngModel)]="selectedLang2.WhereHome" placeholder="WhereHome"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>ArrayLangPrefs: </label>
                      <input [(ngModel)]="selectedLang2.ArrayLangPrefs" placeholder="ArrayLangPrefs"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>ArrayMailPrefs: </label>
                      <input [(ngModel)]="selectedLang2.ArrayMailPrefs" placeholder="ArrayMailPrefs"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>ArrayMapPrefs: </label>
                      <input [(ngModel)]="selectedLang2.ArrayMapPrefs" placeholder="ArrayMapPrefs"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>ArrayMatchPrefs: </label>
                      <input [(ngModel)]="selectedLang2.ArrayMatchPrefs" placeholder="ArrayMatchPrefs"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>ArrayRatings: </label>
                      <input [(ngModel)]="selectedLang2.ArrayRatings" placeholder="ArrayRatings"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>ArrayRoutePrefs: </label>
                      <input [(ngModel)]="selectedLang2.ArrayRoutePrefs" placeholder="ArrayRoutePrefs"/>
              </fieldset>
                 <fieldset class="form-group  col-md-12">
                      <label>ArrayRunStatus: </label>
                      <input [(ngModel)]="selectedLang2.ArrayRunStatus" placeholder="ArrayRunStatus"/>
              </fieldset>
	 <button class="btn btn-warning" (click)="onDeSelect()">Back</button>
          <button class="btn btn-success" (click)="onDeSelect()">Save</button>
</div></div></div></div></div>

<div *ngIf!="selectedLang2">
  <div class="row">
    <div class="card text-xs-center">
          <div class="card-block">
              <label>Search by Id or Lang:</label> <input #lang2Search (input)="term$.next($event.target.value)" placeholder="Enter Id or Language Code" />
              <button class="btn btn-danger" (click)="add(eventSearch.value)"> Add </button>
          </div>
          <div class="table-responsive">
                <table class="table">
                    <tbody>
  <tr *ngFor="let lang2 of langs2" (click)="onSelect(lang2)"
      [class.selected]="lang2 === selectedLang2">
<div *ngIf!="appservice.admin">
<td class="DFC">{{lang2.Id}}</td>
    <td class="DFC">{{lang2.DFC}}</td>  
    <td class="DFC">{{lang2.DLC}}</td> 
    <td class="DFC">{{lang2.User}}</td> 
    <td class="DFC">{{lang2.Lang}}</td>  
    <td class="DFC">{{lang2.ALetterToConfirmReg}}</td> 
	</div><div *ngIf="appservice.admin">
    <td class="DFC">{{lang2.Id}}</td>
      <td class="DFC">{{lang2.Lang}}</td>  
      <td class="DFC">{{lang2.ALetterToConfirmReg}}</td> 
      <td class="DFC">{{lang2.AutoFooter}}</td> 
      <td class="DFC">{{lang2.AutoHeader}}</td> 
      <td class="DFC">{{lang2.BillingsButte}}</td> 
      <td class="DFC">{{lang2.BookmarkThisPage}}</td> 
      <td class="DFC">{{lang2.CellValidation}}</td> 
      <td class="DFC">{{lang2.EmailTabReturn}}</td> 
      <td class="DFC">{{lang2.EnterCommaDelimited}}</td> 
      <td class="DFC">{{lang2.EnterEmailBasics}}</td> 
      <td class="DFC">{{lang2.EnterTestEmail}}</td> 
      <td class="DFC">{{lang2.EnterUserPass}}</td> 
      <td class="DFC">{{lang2.EnterWhereYouAre}}</td> 
      <td class="DFC">{{lang2.FullInvitations}}</td> 
      <td class="DFC">{{lang2.GPSLocationServices}}</td> 
      <td class="DFC">{{lang2.HasBeenAddedAsHome}}</td> 
      <td class="DFC">{{lang2.HasBeenConfirmed}}</td> 
      <td class="DFC">{{lang2.ImageFooter}}</td> 
      <td class="DFC">{{lang2.Invitation}}</td> 
      <td class="DFC">{{lang2.Radius}}</td> 
      <td class="DFC">{{lang2.RideOrDrive}}</td> 
      <td class="DFC">{{lang2.SocialHeader}}</td> 
      <td class="DFC">{{lang2.WelcomeExample}}</td> 
      <td class="DFC">{{lang2.WhereHome}}</td> 
      <td class="DFC">{{lang2.ArrayLangPrefs}}</td> 
      <td class="DFC">{{lang2.ArrayMailPrefs}}</td> 
      <td class="DFC">{{lang2.ArrayMapPrefs}}</td> 
      <td class="DFC">{{lang2.ArrayMatchPrefs}}</td> 
      <td class="DFC">{{lang2.ArrayRatings}}</td> 
      <td class="DFC">{{lang2.ArrayRoutePrefs}}</td> 
      <td class="DFC">{{lang2.ArrayRunStatus}}</td>
	 </div>
	<td><button class="btn-xs btn-danger" (click)="delete(event); $event.stopPropagation()">x</button></td>
</tr></tbody></table>
</div>
</div></div></div></div>