    .Id{width: 50px;}
    .DFC{width: 150px;}
    .DLC{width: 90px;}
    .User{width: 50px;}
    .Country{width: 50px;}
	.Did{width: 50px;}
	.EventName{width: 150px;}
	.SearchTerms{width: 50px;}
	.Descrip{width: 50px;}
	.Route{width: 30px;}
	.EventDate{width: 150px;}
	.StartTime{width: 80px;}
	.EndTime{width: 80px;}
	.SiteName{width: 50px;}
	.Phone{width: 150px;}
	.MapAddress{width: 100px;}
	.Lat{width: 50px;}
	.Lng{width: 50px;}
	.GeoType{width: 50px;}
	.GeoQual{width: 50px;}
	.GeoSource{width: 50px;}
	.GeoPlaceId{width: 50px;}
	.Website{width: 50px;}
	.Invitation{width: 150px;}
